menu "INVO Wi-Fi"

    config ESP_WIFI_SSID
        string "Wi-Fi SSID"
        default ""
        help
            SSID of the access point to connect to.

    config ESP_WIFI_PASSWORD
        string "Wi-Fi Password"
        default ""
        help
            Wi-Fi password.

endmenu
